@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*,

*::before,

*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    background-color: rgb(0, 0, 0);
    font-family: "DM Sans", serif;
}

::-webkit-scrollbar{
    width: 0;
    background-color: transparent;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

a{
    display: inline-block;
    text-decoration: none;
}

/* MAIN */

.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.m-nav{
    display: flex;
    padding: 2em;
    gap: 40px;
}

.m-link{
    padding: 2em;
    display: flex;
    gap: 40px;
}

.nav-link{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #434343;

    transition: .2s all;
}

.nav-link:hover, #nav-active{
    color: white;
}

.m-inner{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.m-left, .m-right{
    width: 300px;
    padding: 1em;
}

/* M-LEFT */

.title{
    text-transform: uppercase;
    color: white;
    
}

.text{
    text-transform: uppercase;
    color: white;
}

.skill{
    text-transform: uppercase;
    border: 1px solid white;
    border-radius: 15px;
    color: white;
    display: inline-block;
}

.m-l-up{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
}

.m-l-mid{
    padding-bottom: 2em;
}

.m-l-btm{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

