@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*,

*::before,

*::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    overflow-x:hidden;
    background-color: rgb(0, 0, 0);
    font-family: "DM Sans", serif;
}

::-webkit-scrollbar{
    width: 0;
    background-color: transparent;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

a{
    display: inline-block;
    text-decoration: none;
}

/* MAIN */

.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.m-nav{
    display: flex;
    padding: 2em;
    gap: 40px;
}

.m-link{
    padding: 2em;
    display: flex;
    gap: 40px;
}

.nav-link{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #434343;

    transition: .2s all;
}

.nav-link:hover, #nav-active{
    color: white;
}

.m-inner{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.m-left, .m-right{
    width: 300px;
    padding: 1em;
}

/* M-LEFT */

.title{
    text-transform: uppercase;
    color: white;
    
}

.text{
    text-transform: uppercase;
    color: white;
}

.skill{
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 15px;
    color: white;
    padding: 2px 8px;
}

.skill-inner{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.m-l-up{
    display: flex;
    justify-content: space-between;
    padding-bottom: 2em;
}

.m-l-mid{
    padding-bottom: 2em;
}

.m-l-btm{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.m-right{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-between;
    height: 100%;
}

.mr-image{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-color: #434343;
}

.mr-name{
    text-transform: uppercase;
}

.mr-contact{
    white-space: nowrap;
}

.mr-mail{
    color: #434343;
}

.mr-inner{
    display: flex;
}

.m-btn-cv{
    width: 100%;
    text-align: right;
    background-color: #090909;
    border: 3px solid #1A1A1A;
    border-radius: 100px;
    padding: 0.8em;
    color: white;
    font-weight: 600;
    text-transform: uppercase;

    background: url(export-icon.svg) left center no-repeat, #090909;
    background-position: 10%;
    background-size: 10%;
}

.m-btn-call{
    background-color: #090909;
    border: 3px solid #1A1A1A;
    border-radius: 100px;
    width: 25%;
    border-radius: 100%;

    background: url(call-icon.svg) center center no-repeat;
    display: flex;
    
}

/* M-CArds */

.m-cards-inner{
    display: flex;
}

.m-card{
    display:flex;
    flex-direction: column;
    padding: 1em;
    color: #434343;
    transition: .2s all;
    border-radius: 18px;
}

.m-card:hover{
    background-color: #0a0a0a;
}

.mc-img{
    height: 180px;
    width: 180px;
    background: #434343;
    border-radius: 12px;
}

.mc-inner{
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 600;
    margin: 0.5em 0em 0.5em 0em;
}

.mc-name{
    font-size: 18px;
    color: #FFCC9F;
    font-weight: 500;
}

